.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  .titulo {
    text-align: center;
    color: rgb(15, 15, 138);
  }



  .contenedor2 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
  }
  
  .contenido {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar en el eje horizontal */
    align-items: center; /* Centrar en el eje vertical */
    flex: 1;
  }
  
  .titular{
    color: rgb(9, 9, 80);
    margin-bottom: 0px;
  }

  .descripcion{
    color: rgb(140, 138, 138);
    justify-content: center;
    margin-left: 30px;
  }
  
  .imagen {
    flex: 1;
  }
  
  .imagen img {
    display: block;
    margin-left: 80px;
    max-width: 80%;
    border-radius: 20px;
  }
  
  .contenedor3{
    display: flex;
  justify-content: center;
  align-items: center;
    height: 10vh;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    width: 50%;
    /*flex-template-columns: 1fr 1fr;
gap: 20px;
@media (max-width: 800px){
  flex-template-columns: 1fr;
}*/
  }

  form2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    width: 50%;
  }
  
  input[type="text"] {
    flex: 10;
    padding: 5px;
    border: 1px solid rgb(184, 184, 184);
    background: rgba(217, 217, 217, 0.6);
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
  }
  
  button[type="submit"] {
    flex: 1;
    padding: 5px;
    background-color:rgb(31, 124, 124);
    color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 14px;
  }
  
  button[type="submit"]:hover {
    background-color: rgba(14, 160, 116, 0.788);
    color: white;
  }
  



  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: rgba(173, 172, 172, 0.27);
  }
  
  th, td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color:rgb(134, 202, 202);
  }

  table button {
    background-color:rgb(50, 112, 112);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  table button:hover {
    background-color:red;
    color: white;
  }